<ng-template #toolbarContent>
    <button mat-button>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button>Mail</button>
    <button mat-button>Search</button>
    <button mat-button>News</button>
    <button mat-button>Sports</button>
    <button mat-button>Finance</button>
    <button mat-button>Celebrity</button>
    <button mat-button>Weather</button>
    <button mat-button>Answers</button>
    <button mat-button>Flickr</button>
    <button mat-button>Mobile</button>
    <button mat-button>More</button>
  </ng-template>
  
  
  <mat-drawer-container fxFlexFill>
  
    <mat-drawer #drawer mode="side" [opened]="isOpened && drawer.opened">
      <div fxLayout="column">
        <ng-template *ngTemplateOutlet="toolbarContent"></ng-template>
      </div>
    </mat-drawer>
  
    <mat-toolbar color="primary" style="height:35px">
      <div fxHide fxShow.lt-md>
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxShow fxHide.lt-md>
        <ng-template *ngTemplateOutlet="toolbarContent"></ng-template>
      </div>
    </mat-toolbar>
  
    <div id="root-div" fxLayout="row">
  
      <div id="category-nav-bar-div" fxHide fxShow.gt-sm fxLayout="column" fxFlex="0 1 200px">
        <img src="assets/images/yahoo-answers-logo-transparent.png">
        <a mat-button style="text-align:left" color="primary" *ngFor="let category of CATEGORIES" href="">{{category}}</a>
      </div>
  
      <div id="content-div" fxFlex="20 1 auto" fxLayout="column" style="margin-inline: 10px;">
        <div id="search-div" fxLayout="row"  fxLayoutGap="10px" >
          <div fxFlex="15 1 auto" fxLayout="column" >
            <mat-form-field class="clean-form-field" appearance="outline"  >
              <input type="search" matInput >
            </mat-form-field>
          </div>
          <div fxShow fxHide.lt-md fxFlex="none"  fxLayout="column" fxFlexAlign="center">
            <button mat-raised-button color="primary">Search Answers</button>
          </div>
        </div>
  
        <div id="trending-peek-div"  fxLayout="row wrap"  >
          <button mat-button>
            <mat-icon>trending_up</mat-icon>
            Trending
          </button>
          <button mat-button>
            Borris Johnson
          </button>
          <button mat-button>
            Borris Johnson
          </button>
          <button mat-button>
            Borris Johnson
          </button>
        </div>
  
        <mat-card id="questions-div">
          <mat-tab-group color="primary">
            <mat-tab label="Discover"> 
              <mat-list>
                <mat-list-item> One </mat-list-item>
                <mat-list-item> Two </mat-list-item>
                <mat-list-item> Three </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Answer"> 
              <mat-list>
                <mat-list-item> One </mat-list-item>
                <mat-list-item> Two </mat-list-item>
                <mat-list-item> Three </mat-list-item>
              </mat-list>
             </mat-tab>
  
          </mat-tab-group>
        </mat-card>
      </div>
  
      <div id="misc-content-div" fxHide fxShow.gt-sm fxFlex="2.75 1 auto" fxLayout="column" fxLayoutGap="10px"
        style="margin-inline: 10px;">
        <mat-card id="ask-question-text-div">
          <mat-card-header>
            <mat-icon class="question-mark-icon" color="primary" mat-card-avatar>contact_support</mat-icon>
            <mat-card-title>Ask a question</mat-card-title>
            <mat-card-subtitle>usually answered in minutes!</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column">
              <mat-form-field appearance="outline" fxFlex="1 1 auto">
                <textarea matInput placeholder="What's up?"></textarea>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <button mat-button>
                  <mat-icon>description</mat-icon>
                  Details
                </button>
                <button mat-raised-button color="primary">Submit</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
  
        <mat-card id="top-10-trending-now-div">
          <mat-card-header>
            <mat-card-title>Trending Now</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="2">
              <mat-grid-tile>
                <div fxFlexFill>
                  <ol>
                    <li class="clean-li"> <a href="">Borris Johnson</a></li>
                  </ol>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div fxFlexFill>
                  <ol start="6">
                    <li class="clean-li"> <a href="">Borris Johnson</a></li>
                  </ol>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
  
        <mat-card id="top-10-leaderboard-div">
          <mat-card-header fxLayoutAlign="space-between">
            <mat-card-title>Leaderboard</mat-card-title>
            <button mat-button color="primary">
              Show more
            </button>
          </mat-card-header>
  
          <mat-card-content>
            <mat-list>
              <mat-list-item> One </mat-list-item>
              <mat-list-item> Two </mat-list-item>
              <mat-list-item> Three </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
  
      </div>
  
    </div>
  </mat-drawer-container>
  <router-outlet></router-outlet>
