<mat-toolbar color="primary" style="height:25px">
  
  <button mat-button>
  <mat-icon >home</mat-icon>
  <span>Home</span>
</button>
  <button mat-button>Mail</button>
  <button mat-button>Search</button>
  <button mat-button>News</button>
  <button mat-button>Sports</button>
  <button mat-button>Finance</button>
  <button mat-button>Celebrity</button>
  <button mat-button>Weather</button>
  <button mat-button>Answers</button>
  <button mat-button>Flickr</button>
  <button mat-button>Mobile</button>
  <button mat-button>More</button>

</mat-toolbar>

<router-outlet></router-outlet>
